@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wiles Jackson Inc </h1>
    <p>Learn more about our services at <a href="http://wilesjackson.com" target="_blank">Wiles Jackson</a>.</p>
</div>
